ul::after,
section::after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background-image: linear-gradient(45deg, aqua, Royalblue);
}
header h1 {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-150%);
  color: #fff;
  letter-spacing: 0.04em;
  font-family: "Tulpen One", cursive;
  font-size: 9em;
  font-weight: normal;
}
header h1::after {
  display: block;
  content: "";
  width: 170px;
  height: 2px;
  background: #fff;
}
header h1::before {
  display: block;
  content: "";
  bottom: -1.2em;
  position: absolute;
  content: "FRONTEND GALLERY";
  font-size: 0.3em;
  opacity: 0.7;
}
@media ( max-width:1599px ) {
  header h1 {
    left: 30px;
  }
}
@media ( max-width:1199px ) {
  header h1 {
    transform: translateY(-50%);
    font-size: 3.5em;
  }
  header h1::after {
    width: 70px;
  }
  header h1::before {
    display: none;
  }
}
@media ( max-width:539px ) {
  header h1 {
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
  }
  header h1::after {
    width: 20px;
  }
}
header .sns {
  position: absolute;
  bottom: 100px;
  right: 7em;
}
header .sns li {
  float: left;
  margin: 0 1em;
}
header .sns li a {
  color: #fff;
  font-size: 1.3em;
}
header .sns li a i {
  font-size: 1.3em;
}
@media ( max-width:899px ) {
  header .sns span {
    display: none;
  }
}
@media ( max-width:1199px ) {
  header .sns {
    bottom: 30px;
    right: 1em;
  }
}
@media ( max-width:539px ) {
  header .sns {
    display: none;
  }
}
@media ( max-width:1599px ) {
  header {
    width: 350px;
  }
}
@media ( max-width:1199px ) {
  header {
    width: 100%;
    position: relative;
    height: 80px;
  }
}

main {
  margin-left: 400px;
  padding: 20px;
}
@media ( max-width:1599px ) {
  main {
    margin-left: 350px;
  }
}
@media ( max-width:1199px ) {
  main {
    margin-left: 0;
    width: 100%;
  }
}

nav {
  margin-bottom: 10px;
}
nav li {
  float: right;
  width: 100px;
  height: 25px;
  margin-left: 20px;
}
nav li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: "Tulpen One", cursive;
  font-size: 1.8em;
  font-weight: bold;
  color: #999;
  text-align: center;
  line-height: 25px;
  letter-spacing: 0.1em;
}
nav li a:hover {
  background: linear-gradient(45deg, aqua, Royalblue);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}
@media ( max-width:539px ) {
  nav li {
    width: 33.33%;
    margin-left: 0;
    text-align: center;
  }
  nav li a {
    width: 90%;
  }
}
nav li.on a {
  background: linear-gradient(45deg, aqua, Royalblue);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

article {
  width: 20%;
  float: left;
  padding: 14px;
}
article div {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 14px;
  border-radius: 5px;
}
article img {
  width: 100%;
}
article h2 {
  letter-spacing: 0.05em;
  margin: 10px 0 5px;
  color: #444;
  font-family: "Tulpen One", cursive;
  font-size: 2em;
  font-weight: bold;
}
article p {
  font-size: 1.1em;
  color: #777;
}
@media ( max-width:1599px ) {
  article {
    width: 25%;
  }
}
@media ( max-width:899px ) {
  article {
    width: 33.33%;
  }
}
@media ( max-width:767px ) {
  article {
    width: 50%;
  }
}
@media ( max-width:539px ) {
  article {
    width: 100%;
  }
}

#popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
#popup div {
  background: #000;
  padding: 50px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
#popup img {
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 60vh;
}
#popup h2 {
  font-family: "Tulpen One", cursive;
  font-size: 2em;
  font-weight: bold;
  margin: 16px 0 5px;
  letter-spacing: 0.07em;
}
#popup p {
  font-size: 1.1em;
  color: #777;
}
#popup.on {
  display: flex;
}/*# sourceMappingURL=style.css.map */