$large: "( max-width:1599px )"; // 1600보다 작은 크기
$large-semi: "( max-width:1199px )"; // 1200보다 작은 크기
$medium: "( max-width:899px )";
$small: "( max-width:767px )";
$mobile: "( max-width:539px )";
$gradient: linear-gradient(45deg, aqua, Royalblue);

@mixin space() {
	display: block;
	content: "";
}

ul::after,
section::after {
	@include space();
	clear: both;
}

body {
	font: {
		family: Arial, Helvetica, sans-serif;
		size: 10px;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	height: 100%;
	background-image: $gradient;
	h1 {
		position: absolute;
		top: 50%;
		left: 50px;
		transform: translateY(-150%);
		color: #fff;
		letter-spacing: 0.04em;
		font: {
			family: "Tulpen One", cursive;
			size: 9em;
			weight: normal;
		}
		&::after {
			@include space;
			width: 170px;
			height: 2px;
			background: #fff;
		}
		&::before {
			@include space;
			bottom: -1.2em;
			position: absolute;
			content: "FRONTEND GALLERY";
			font-size: 0.3em;
			opacity: 0.7;
		}
		@media #{$large} {
			left: 30px;
		}
		@media #{$large-semi} {
			transform: translateY(-50%);
			font-size: 3.5em;
			&::after {
				width: 70px;
			}
			&::before {
				display: none;
			}
		} //$large-semi끝
		@media #{$mobile} {
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 3.5em;
			&::after {
				width: 20px;
			}
		}
	}

	.sns {
		position: absolute;
		bottom: 100px;
		right: 7em;
		li {
			float: left;
			margin: 0 1em;
			a {
				color: #fff;
				font-size: 1.3em;

				i {
					font-size: 1.3em;
				}
			}
		}

		span {
			@media #{$medium} {
				display: none;
			}
		}

		@media #{$large-semi} {
			bottom: 30px;
			right: 1em;
		}

		@media #{$mobile} {
			display: none;
		}
	} //sns end

	@media #{$large} {
		//1600 보다작아졌을때
		width: 350px;
	}

	@media #{$large-semi} {
		//1200 보다작아졌을때
		width: 100%;
		position: relative;
		height: 80px;
	}
}

main {
	margin-left: 400px;
	padding: 20px;

	@media #{$large} {
		margin-left: 350px;
	}
	@media #{$large-semi} {
		margin-left: 0;
		width: 100%;
	}
}

nav {
	margin-bottom: 10px;

	.btn {
	}

	li {
		float: right;
		width: 100px;
		height: 25px;
		margin-left: 20px;

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			background: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			font: {
				family: "Tulpen One", cursive;
				size: 1.8em;
				weight: bold;
			}
			color: #999;
			text-align: center;
			line-height: 25px;
			letter-spacing: 0.1em;

			&:hover {
				background: $gradient;
				color: #fff;
				box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
			}
		}

		@media #{$mobile} {
			width: 33.33%;
			margin-left: 0;
			text-align: center;
			a {
				width: 90%;
			}
		}

		&.on a {
			background: $gradient;
			color: #fff;
			box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
		}
	}
}

article {
	width: 20%;
	float: left;
	padding: 14px;

	div {
		box-shadow: 0 0 10px rgb(0 0 0 / 20%);
		padding: 14px;
		border-radius: 5px;
	}
	img {
		width: 100%;
	}
	h2 {
		letter-spacing: 0.05em;
		margin: 10px 0 5px;
		color: #444;

		font: {
			family: "Tulpen One", cursive;
			size: 2em;
			weight: bold;
		}
	}
	p {
		font-size: 1.1em;
		color: #777;
	}

	@media #{$large} {
		width: 25%;
	}
	@media #{$medium} {
		width: 33.33%;
	}
	@media #{$small} {
		width: 50%;
	}
	@media #{$mobile} {
		width: 100%;
	}
}

#popup {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgb(0 0 0 / 80%);

	div {
		background: #000;
		padding: 50px;
		border-radius: 10px;
		color: #fff;
		box-shadow: 0 0 15px rgb(255 255 255 / 50%);
	}
	img {
		width: auto;
		height: auto;
		max-width: 80vw;
		max-height: 60vh;
	}
	h2 {
		font: {
			family: "Tulpen One", cursive;
			size: 2em;
			weight: bold;
		}
		margin: 16px 0 5px;
		letter-spacing: 0.07em;
	}
	p {
		font-size: 1.1em;
		color: #777;
	}

	&.on {
		display: flex;
	}
}
